/* Setting the background for the entire website */
    body{
        background-color: white;
        color: black;
        background-size: cover;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(245, 234, 220);
    }

    .myname {
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 25px;
        color: black;
        font-family: Georgia, serif;
        text-decoration: none;
    }

/* For Navigation Bar */

    /* For now
    nav{
        text-align: right;
        font-size: 17px;
        padding: 14px 16px;
        background-color: rgb(245, 234, 220);
        width: auto;
    }
    */
    nav{
        width: auto;
        text-align: right;
      }
  
      .topnav {
        overflow: hidden;
        background-color: rgb(245, 234, 220);
        position: relative; 
      }
  
      .topnav #myLinks {
        display: none;
      }
  
      .topnav a {
        float: left; /*float left makes the elements symetrical or else they will be not*/
        display: block;
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
  
      .topnav a:hover {
        background-color: rgb(116, 178, 255);
        color: white;
      }
 

/* For Accordion */
    .accordion {
        max-width: 500px;
        border: 1px solid #000;
        border-bottom: none;
    }

    .accordion:last-child{
        border-bottom: 1px solid #000;
    }

    .accordion-header {
        display: flex;
        padding: 16px;
        cursor: pointer;
        background-color: rgb(245, 234, 220);
    }

    .accordion-title {
        flex: 1;
    }

    .accordion-icon {
        width: 16px;
    }

    .accordion-content {
        padding: 16px;
    }

    .accordion-content {
        display: none;
    }
