/* Setting the background for the entire website */
    body{
        background-color: white;
        color: black;
        background-size: cover;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:white;
        position: fixed;
    }

    .headercontainer{
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .myname {
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 25px;
        color: black;
        font-family: Georgia, serif;
        text-decoration: none;
    }

/* For Navigation Bar */

    /* For now
    nav{
        text-align: right;
        font-size: 17px;
        padding: 14px 16px;
        background-color: rgb(245, 234, 220);
        width: auto;
    }
    */
    nav{
        width: auto;
        text-align: right;
      }
  
      .topnav {
        overflow: hidden;
        background-color: white;
        position: relative; 
      }
  
      .topnav #myLinks {
        display: none;
      }
  
      .topnav a {
        float: left; /*float left makes the elements symetrical or else they will be not*/
        display: block;
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
  
      .topnav a:hover {
        background-color: rgb(245, 234, 220);
        color: blue;
      }
 

/* ABOUT ME PAGE*/
      .bigbox{
        border: none;
        background-color: rgb(245, 234, 220);
        float: left;
        position: relative;
        width: 45%;
        padding-bottom: 60%;
        margin-top: none;
      }
      .smallbox {
        border: none;
        background-color: rgb(255, 243, 229);
        position: absolute;
        float: right;
        width: 30%; 
        padding-bottom: 5%; 
        margin-left: 25%;
        margin-top: 10%;
      }
      .circular-container {
        width: 250px; /* Adjust the size of the circular container */
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 15%;
        margin-left: 25%;/* Center the circular container */
        position: relative;
      }
      .circular-image {
        display: block;
        width: 250px;
        height: 250px;
        object-fit: cover; 
        border-radius: 50%;
      }
      .introcard{
        margin-top: 10%;
        margin-left: 5%;
        text-align: center;
        font-size: 25px;
        color: black;
        font-family: Georgia, serif;
      }

/* EXPERIENCE PAGE*/
/* For Accordion */
    .accordion {
        max-width: 500px;
        border: 1px solid #000;
        border-bottom: none;
    }

    .accordion:last-child{
        border-bottom: 1px solid #000;
    }

    .accordion-header {
        display: flex;
        padding: 16px;
        cursor: pointer;
        background-color: rgb(245, 234, 220);
    }

    .accordion-title {
        flex: 1;
    }

    .accordion-icon {
        width: 16px;
    }

    .accordion-content {
        padding: 16px;
    }

    .accordion-content {
        display: none;
    }
